<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Shane Barton Final!</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <style>
        body { 
            padding-top:80px;
            background-color: black;
        }
    </style>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>

    </script>
    
</head>
<body>
<div class="container">
 
    <div class="jumbotron text-center">
        <h1>Song Maker</h1>
        <br>

        <p>Play songs on the piano without having to play a piano!</p>
        
        <br>
        <h5>Login or Register:</h5>
        <br>

        <a href="/login" class="btn-primary">Login</a>
        <a href="/signup" class="btn-primary">Register</a>
        
    </div>

</div>
    
</body>
</html>